---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,800;1,300);

$bodyfont: "Libre Franklin", Helvetica, Arial, sans-serif;


body,h2,h3,h4,h5,h6 {
    font-size: 14px;
    font-family: $bodyfont;
}

h1,h2 {
    color: #1e90ff;
}

h1 {
    font-size: 20px;
}

h1.page__title {
    background-color: #555;
    padding: 1ex;
    margin-top: 0;
    margin-left: 0;
    color: white;
    font-size: 20px;
}

/* super strong */
.emph {
    color: red;
}

/* in-page TOC */

nav.toc {
    font-size: 100%;
}

/* sections on pages with images */
.section {
    clear: left;
    padding-top: 1ex;
}
img.thumb {
    width: 120px;
}
figcaption {
    font-size: 100%;
    font-style: italic;
    background-color: #333;
    padding: 0 2em;
    color: white;
    text-align: center !important;
}
/* quotations list */

dl.quote {
    dt {
        font-weight: normal;
    }
    dd {
        font-style: italic;
        font-weight: bold;
        font-size: 100%;
        color: grey;
    }
}

.masthead, #site-nav, .greedy-nav a, .greedy-nav ul {
    background-color: #1e90ff;
    font-family: $bodyfont;
    font-size: 16px;
    color: white;
}
.greedy-nav a:hover {
    color: gold;
}

.sidebar {
    font-size: 16px;
    background-color: #eee;
    margin-left: -14px;
    padding-left: 14px;
}

.sidebar a:hover {
    text-decoration: underline;
}

#mc_embed_shell {
    float: right;
    font-size: 60%;
    margin-top: 0.5ex;
    h2 {
        font-size: 12px;
    }
}
